:root {
  --brand-color: #2e2f42;
  --bgc-color: #ffffff;
  --accent-color: #4d5ae5;
  --text-color: #434455;
}
/*Body*/
body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background: var(--bgc-color);
}
.list {
  list-style-type: none;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
/*Navigation*/
.logo {
  font-family: "Raleway";
  font-style: normal;
  line-height: 1.17;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  width: 44px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.nav-logo {
  color: var(--brand-color);
}
.link {
  text-decoration: none;
}
.nav.link {
  font-weight: 500;
  color: var(--brand-color);
}
.nav.link:hover {
  color: #404bbf;
}
.nav.link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.contacts {
  color: var(--brand-color);
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}

/*Header Studio*/

.page-header {
  background-color: var(--brand-color);
}
.page-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  line-height: 1.07;
  color: var(--bgc-color);
}
.order-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--bgc-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.order-button:hover {
  background-color: #404bbf;
}
.order-button:focus {
  background-color: #404bbf;
}

/*Body text*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--brand-color);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--brand-color);
}

/*Company Team*/
.company-team {
  background-color: #f4f4fd;
}
.team-list {
  background-color: var(--bgc-color);
}

/*Footer*/
.footer {
  background-color: var(--brand-color);
}
.text-footer {
  color: #f4f4fd;
}
.name-logo-footer {
  color: #f4f4fd;
}

/*Header Portfolio*/
.filter-button {
  color: var(--accent-color);
  background-color: #f4f4fd;
  cursor: pointer;
}
.filter-button:hover {
  background-color: #404bbf;
}
.filter-button:focus {
  background-color: #404bbf;
}
